@{
    ViewData["Title"] = "About Us";
    ViewBag.page = "AboutUs";
}
<div class="container d-blobk d-lg-none">
    <div class="row">
        <div class="col-lg-12">
            <a href="#" class="back"><i class="fas fa-chevron-left"></i> About Us</a>
        </div>
    </div>
</div>
<div class="container bg">
    <div class="row aboutus top">
        <div class="col-lg-7 bg">
            <div class="info-title">
                Software Development &
                Technical Consultancy Company
            </div>
            <div class="info-img d-blobk d-lg-none">
                <img src="~/images/aboutus_1.svg" alt="img" class="w-100 defaultimg" />
            </div>
            <div class="info-desc">
                DevGate is an IT Consultancy and Software Development Company that provides
                creative and effective customized solutions with maximum efforts driven toward to customer satisfaction. DevGate is founded by a team of professionals with strong background in IT industry counting more than 15 years of experience in software development, business analysis, infrastructure, and consultancy for both governmental and private sectors. Our knowledge consists of rich experience in designing and implementing high-scalable, high-available, time-critical, and high-performance software and IT services. in the following business areas: Financial, Billing, Customer Relationship, Logistics, Document-Processing and many more.
            </div>
        </div>
        <div class="col-lg-5 d-flex align-items-center">
            <div class="info-img d-none d-md-none d-sm-none d-lg-block">
                <img src="~/images/aboutus_1.svg" alt="img" class="w-100" />
            </div>
        </div>
    </div>

    <div class="row aboutus whatwe">
        <div class="col-lg-5">
            <div class="info-img d-none d-md-none d-sm-none d-lg-block">
                <img src="~/images/aboutus_2.svg" alt="img" class="w-100" />
            </div>
        </div>
        <div class="col-lg-7 bg">
            <div class="info-title">
                What we do?
            </div>
            <div class="info-img d-blobk d-lg-none">
                <img src="~/images/aboutus_2.svg" alt="img" class="w-100 defaultimg" />
            </div>
            <div class="info-desc">
                Our team’s expertise comprises variety of technology areas including development of enterprise-class applications and services based on web, desktop, and mobile platforms; designing databases and data-analytic services; programming with biometric devices such as fingerprint and face-recognition, electronic signature,
                and cryptography modules; integration with widely known brand software systems likeMicrosoft Office, Microsoft BizTalk, Microsoft SharePoint, K2, IBM BPM, etc.
            </div>
        </div>
    </div>
    </div>

    <div class="row aboutus team">
        <div class="col-lg-12">
            <div class="container">
                <div class="info-title">
                    Meet our team
                </div>
                <div class="info-desc noborder">
                    Technology alone is not enough to succeed, every product needs a team of passionate people who will give it their best.
                </div>
            </div>
        </div>

        <div class="container">
            <div class="team-container">
                <div class="section-title">
                    Company employees
                </div>

                <div class="team-item">
                    <img src="~/images/profile/temur japaridze.png" class="profileImg" alt="img" />
                    <div class="person-info">
                        <div class="name">Temur Japaridze</div>
                        <div class="role two">CO-FOUNDER, MANAGING PARTNER</div>
                        <div class="about three">
                            Teimuraz Japaridze is a highly skilled software engineer/architect, who has more than 15 years of experience the IT industry. He has successfully implemented several large-scale projects for governmental and commercial organizations. Currently Temur occupies a position as a Senior Software Engineer/Architect in 3 large organizations. He holds a master’s degree in Information Technology and Computer Science, graduated with honors.
                        </div>
                        <div class="socias">
                            <a class="soc in"><i class="fab fa-linkedin-in"></i></a>
                            <a class="soc email"><i class="far fa-envelope"></i></a>
                        </div>
                    </div>
                </div>

                <div class="team-item">
                    <img src="~/images/profile/ioseb tumanishvili.png" class="profileImg" alt="img" />
                    <div class="person-info">
                        <div class="name">IOSEB TUMANISHVILI</div>
                        <div class="role two">CO-FOUNDER, CHIEF INFORMATION OFFICER (CIO)</div>
                        <div class="about three">
                            Ioseb Tumanishvili has 18 years of industry experience in IT Architecture and Software Development. He has been a key member in making high-level design choices and defining software coding standards, tools, and platforms through numerous projects. Ioseb has conducted complete technical support of the large-scaled projects from the moment of inception, through development and deployment.

                        </div>
                        <div class="socias">
                            <a class="soc in"><i class="fab fa-linkedin-in"></i></a>
                            <a class="soc email"><i class="far fa-envelope"></i></a>
                        </div>
                    </div>
                </div>

                <div class="team-item">
                    <img src="~/images/profile/davit gabunia.png" class="profileImg" alt="img" />
                    <div class="person-info">
                        <div class="name">DAVIT GABUNIA</div>
                        <div class="role two">CHIEF EXECUTIVE OFFICER (CEO)</div>
                        <div class="about three">
                            Davit has more than 20 years’ experience of organizing juridical and managerial activities in both public and private fields. He started a career by provisioning of advocacy to individuals and legal entities, including consultations as well as litigation services. After beginning his career at LEPL Public Service Development Agency davit reached to the managerial position and obtained further knowledge and skills truly useful in modern and fast-moving…

                        </div>
                        <div class="socias">
                            <a class="soc in"><i class="fab fa-linkedin-in"></i></a>
                            <a class="soc email"><i class="far fa-envelope"></i></a>
                        </div>
                    </div>
                </div>

                <div class="team-item mb-lg-5">
                    <img src="~/images/profile/irakli nazgaidze.png" class="profileImg" alt="img" />
                    <div class="person-info">
                        <div class="name">IRAKLI NAZGHAIDZE</div>
                        <div class="role two">PARTNER IN INTERNATIONAL RELATIONS</div>
                        <div class="about three">
                            Irakli has more than 10 years of experience in financial industry. After studying mathematics and business administration with major fields in Banking & Finance, he has held various roles in Business- and IT Consulting as well as in government’s winding-up institution. The main focus of his work was on the implementation of mathematical and statistical models in finance- and risk management. In his leisure time, he appreciates mountain wandering and traditional Georgian winemaking.
                        </div>
                        <div class="socias">
                            <a class="soc in"><i class="fab fa-linkedin-in"></i></a>
                            <a class="soc email"><i class="far fa-envelope"></i></a>
                        </div>
                    </div>
                </div>

                <div class="team-item mb-lg-4 mb-md-4 mb-sm-3 mb-3">
                    <div class="person-info ml-0">
                        <div class="name">Hired employees</div>
                    </div>
                </div>

                <div class="team-item">
                    <img src="~/images/profile/avtandil kavrelishvili.png" class="profileImg" alt="img" />
                    <div class="person-info">
                        <div class="name">AVTANDIL KAVRELISHVILI</div>
                        <div class="role two">CO-FOUNDER, CHIEF TECHNOLOGY OFFICER (CTO)</div>
                        <div class="about three">
                            Avtandil has successfully implemented the projects funded by USAID, UNDP and other international institutions. He holds a PhD degree in Informational Technologies and Management Systems. He has thirteen - year of experience in the public and private sectors. Besides, he successfully conducts trainings for public and private organizations
                        </div>
                        <div class="socias">
                            <a class="soc in"><i class="fab fa-linkedin-in"></i></a>
                            <a class="soc email"><i class="far fa-envelope"></i></a>
                        </div>
                    </div>
                </div>

                <div class="team-item">
                    <img src="~/images/profile/elene mchedlidze.png" class="profileImg" alt="img" />
                    <div class="person-info">
                        <div class="name">ELENE MCHEDLIDZE</div>
                        <div class="role two">SENIOR BUSINESS ANALYST</div>
                        <div class="about three">
                            Elene started her career as business analyst and took part in creative projects taking place at different organizations. She has reliable competence determining and defining the requirements of any businesses and helping the team to transform business needs into workable solutions.
                        </div>
                        <div class="socias">
                            <a class="soc in"><i class="fab fa-linkedin-in"></i></a>
                            <a class="soc email"><i class="far fa-envelope"></i></a>
                        </div>
                    </div>
                </div>

                <div class="team-item">
                    <img src="~/images/profile/levan mtishvili.png" class="profileImg" alt="img" />
                    <div class="person-info">
                        <div class="name">LEVAN MTIVLISHVILI</div>
                        <div class="role two">CO-FOUNDER, CHIEF SOFTWARE ARCHITECT (CSA)</div>
                        <div class="about three">
                            Levan holds MSc in automated Systems of Control and Data Processing. 13 years of senior software engineering experience in analysis, design and development of software applications and interfaces, involving multiple platforms and technologies, as well as medium and large-scale information systems.
                        </div>
                        <div class="socias">
                            <a class="soc in"><i class="fab fa-linkedin-in"></i></a>
                            <a class="soc email"><i class="far fa-envelope"></i></a>
                        </div>
                    </div>
                </div>

                <div class="team-item">
                    <img src="~/images/profile/mamuka kupatadze.png" class="profileImg" alt="img" />
                    <div class="person-info">
                        <div class="name">MAMUKA KUPATADZE</div>
                        <div class="role two">SENIOR DATABASE ADMINISTRATOR, DATA WAREHOUSE ARCHITECT</div>
                        <div class="about three">
                            Mamuka is a highly qualified database administrator and data warehouse architect with more than 15 years of working experience in large companies both in public and private sector. He holds MCP, MCSA, MCSA, MSTS certificates.
                        </div>
                        <div class="socias">
                            <a class="soc in"><i class="fab fa-linkedin-in"></i></a>
                            <a class="soc email"><i class="far fa-envelope"></i></a>
                        </div>
                    </div>
                </div>

                <div class="team-item">
                    <img src="~/images/profile/nodar salukvadze.png" class="profileImg" alt="img" />
                    <div class="person-info">
                        <div class="name">NODAR SALUKVADZE</div>
                        <div class="role two">CO-FOUNDER, CHIEF WEB AND MOBILE SOLUTION ARCHITECT</div>
                        <div class="about three">
                            As a skilled .Net Developer Nodar has high competence in the creation of dynamic web and mobile applications. His working experience with varying background covers all aspects of web and mobile development.
                        </div>
                        <div class="socias">
                            <a class="soc in"><i class="fab fa-linkedin-in"></i></a>
                            <a class="soc email"><i class="far fa-envelope"></i></a>
                        </div>
                    </div>
                </div>

                <div class="team-item">
                    <img src="~/images/profile/davit gabunia.png" class="profileImg" alt="img" />
                    <div class="person-info">
                        <div class="name">GIORGI KUPRASHVILI</div>
                        <div class="role two">CHIEF INFRASTRUCTURE ENGINEER</div>
                        <div class="about three">
                            As an Infrastructure Engineer Giorgi is one of the leading professional in the industry in accordance with his qualification and experience gained through 12 – year – experience. Giorgi has a lot of success stories on designing, building, deploying and maintaining an IT infrastructure, using the very latest technology.
                        </div>
                        <div class="socias">
                            <a class="soc in"><i class="fab fa-linkedin-in"></i></a>
                            <a class="soc email"><i class="far fa-envelope"></i></a>
                        </div>
                    </div>
                </div>

                <div class="tool">
                    <a class="readmore d-blobk d-lg-none" href="#"><i class="fas fa-arrow-right"></i>Read More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container bg mlg">
        <div class="clientstitle">
            How clients view our work
        </div>
        <div class="row aboutus clients pb-md-5">

            <div class="col-lg-4 bsh">
                <div class="client-card">
                    <div class="client">
                        <img src="~/images/profile/giorgi peikrishvili.png" alt="img" class="profileimg" />
                        <div class="info">
                            <div class="name">
                                Giorgi Peikrishvili
                            </div>
                            <div class="role">
                                Product Designer
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <img src="~/images/up.svg" alt="img" class="up" />
                        perfect partner for us. Together with our handpicked
                        team, who are super professional and most importantly
                        bring their own ideas to the table, we are building
                        products that we are proud of and our
                        customers love
                        <img src="~/images/down.svg" alt="img" class="down" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 bsh">
                <div class="client-card">
                    <div class="client">
                        <img src="~/images/profile/liana gaprindashvili.png" alt="img" class="profileimg" />
                        <div class="info">
                            <div class="name">
                                Liana Gaprindashvili
                            </div>
                            <div class="role">
                                Directors
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <img src="~/images/up.svg" alt="img" class="up" />
                        perfect partner for us. Together with our handpicked
                        team, who are super professional and most importantly
                        bring their own ideas to the table, we are building
                        products that we are proud of and our
                        customers love
                        <img src="~/images/down.svg" alt="img" class="down" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 bsh">
                <div class="client-card">
                    <div class="client">
                        <img src="~/images/profile/nikoloz gomareli.png" alt="img" class="profileimg" />
                        <div class="info">
                            <div class="name">
                                Nikoloz Gomareli
                            </div>
                            <div class="role">
                                Product Owner
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <img src="~/images/up.svg" alt="img" class="up" />
                        perfect partner for us. Together with our handpicked
                        team, who are super professional and most importantly
                        bring their own ideas to the table, we are building
                        products that we are proud of and our
                        customers love
                        <img src="~/images/down.svg" alt="img" class="down" />
                    </div>
                </div>
            </div>
        </div>


        <div class="row mb-5 mt-md-5">
            <div class="col-lg-12">
                <div class="downdesc text-center">
                    Have a project in mind? Let’s get to work.
                </div>
                <button class="btn btn-gradient downbutton" type="button"><i class="fas fa-arrow-right"></i>Contact</button>
            </div>
        </div>
    </div>

<div class="bottom"></div>
