@{
    ViewData["Title"] = "About Us";
}
<div class="container d-blobk d-lg-none">
    <div class="row">
        <div class="col-lg-12">
            <a href="#" class="back"><i class="fas fa-chevron-left"></i> About Us</a>
        </div>
    </div>
</div>
<div class="container bg">
    <div class="row aboutus top">
        <div class="col-lg-6 bg">
            <div class="info-title">
                Software Development &
                Technical Consultancy Company
            </div>
            <div class="info-img d-blobk d-lg-none">
                <img src="~/images/aboutus_1.svg" alt="img" class="w-100 defaultimg" />
            </div>
            <div class="info-desc">
                DevGate is an IT Consultancy and Software Development Company that provides
                creative and effective customized solutions with maximum efforts driven toward to customer satisfaction. DevGate is founded by a team of professionals with strong background in IT industry counting more than 15 years of experience in software development, business analysis, infrastructure, and consultancy for both governmental and private sectors. Our knowledge consists of rich experience in designing and implementing high-scalable, high-available, time-critical, and high-performance software and IT services. in the following business areas: Financial, Billing, Customer Relationship, Logistics, Document-Processing and many more.
            </div>
        </div>
        <div class="col-lg-6">
            <div class="info-img d-none d-md-none d-sm-none d-lg-block">
                <img src="~/images/aboutus_1.svg" alt="img" class="w-100" />
            </div>
        </div>
    </div>

    <div class="row aboutus whatwe">
        <div class="col-lg-6">
            <div class="info-img d-none d-md-none d-sm-none d-lg-block">
                <img src="~/images/aboutus_2.svg" alt="img" class="w-100" />
            </div>
        </div>
        <div class="col-lg-6 bg">
            <div class="info-title">
                What we do?
            </div>
            <div class="info-img d-blobk d-lg-none">
                <img src="~/images/aboutus_2.svg" alt="img" class="w-100 defaultimg" />
            </div>
            <div class="info-desc">
                Our team’s expertise comprises variety of technology areas including development of enterprise-class applications and services based on web, desktop, and mobile platforms; designing databases and data-analytic services; programming with biometric devices such as fingerprint and face-recognition, electronic signature,
                and cryptography modules; integration with widely known brand software systems likeMicrosoft Office, Microsoft BizTalk, Microsoft SharePoint, K2, IBM BPM, etc.
            </div>
        </div>
    </div>
    </div>

    <div class="row aboutus team">
        <div class="col-lg-12">
            <div class="container">
                <div class="info-title">
                    Meet our team
                </div>
                <div class="info-desc noborder">
                    Technology alone is not enough to succeed, every product needs a team of passionate people who will give it their best.
                </div>
            </div>
        </div>

        <div class="container">
            <div class="team-container">
                <div class="section-title">
                    Company employees
                </div>

                <div class="team-item">
                    <img src="~/images/personrofile.png" class="profileImg" alt="img" />
                    <div class="person-info">
                        <div class="name">Temur Japaridze</div>
                        <div class="role">CO-FOUNDER, MANAGING PARTNER</div>
                        <div class="about three">
                            Teimuraz Japaridze is a highly skilled software engineer/architect, who has more than 15 years of experience the IT industry. He has successfully implemented several large-scale projects for governmental and commercial organizations. Currently Temur occupies a position as a Senior Software Engineer/Architect in 3 large organizations. He holds a master’s degree in Information Technology and Computer Science, graduated with honors.
                        </div>
                        <div class="socias">
                            <a class="soc in"><i class="fab fa-linkedin-in"></i></a>
                            <a class="soc email"><i class="far fa-envelope"></i></a>
                        </div>
                    </div>
                </div>

                <div class="team-item">
                    <img src="~/images/personrofile.png" class="profileImg" alt="img" />
                    <div class="person-info">
                        <div class="name">Temur Japaridze</div>
                        <div class="role">CO-FOUNDER, MANAGING PARTNER</div>
                        <div class="about three">
                            Teimuraz Japaridze is a highly skilled software engineer/architect, who has more than 15 years of experience the IT industry. He has successfully implemented several large-scale projects for governmental and commercial organizations. Currently Temur occupies a position as a Senior Software Engineer/Architect in 3 large organizations. He holds a master’s degree in Information Technology and Computer Science, graduated with honors.
                        </div>
                        <div class="socias">
                            <a class="soc in"><i class="fab fa-linkedin-in"></i></a>
                            <a class="soc email"><i class="far fa-envelope"></i></a>
                        </div>
                    </div>
                </div>

                <div class="tool">
                    <a class="readmore d-blobk d-lg-none" href="#"><i class="fas fa-arrow-right"></i>Read More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container bg mlg">
        <div class="clientstitle">
            How clients view our work
        </div>
        <div class="row aboutus clients">

            <div class="col-lg-4 bsh">
                <div class="client-card">
                    <div class="client">
                        <img src="~/images/personrofile.png" alt="img" class="profileimg" />
                        <div class="info">
                            <div class="name">
                                Giorgi Peikrishvili
                            </div>
                            <div class="role">
                                Product Designer
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <img src="~/images/up.svg" alt="img" class="up" />
                        perfect partner for us. Together with our handpicked
                        team, who are super professional and most importantly
                        bring their own ideas to the table, we are building
                        products that we are proud of and our
                        customers love
                        <img src="~/images/down.svg" alt="img" class="down" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 bsh">
                <div class="client-card">
                    <div class="client">
                        <img src="~/images/personrofile.png" alt="img" class="profileimg" />
                        <div class="info">
                            <div class="name">
                                Giorgi Peikrishvili
                            </div>
                            <div class="role">
                                Product Designer
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <img src="~/images/up.svg" alt="img" class="up" />
                        perfect partner for us. Together with our handpicked
                        team, who are super professional and most importantly
                        bring their own ideas to the table, we are building
                        products that we are proud of and our
                        customers love
                        <img src="~/images/down.svg" alt="img" class="down" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 bsh">
                <div class="client-card">
                    <div class="client">
                        <img src="~/images/personrofile.png" alt="img" class="profileimg" />
                        <div class="info">
                            <div class="name">
                                Giorgi Peikrishvili
                            </div>
                            <div class="role">
                                Product Designer
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <img src="~/images/up.svg" alt="img" class="up" />
                        perfect partner for us. Together with our handpicked
                        team, who are super professional and most importantly
                        bring their own ideas to the table, we are building
                        products that we are proud of and our
                        customers love
                        <img src="~/images/down.svg" alt="img" class="down" />
                    </div>
                </div>
            </div>
        </div>


        <div class="row mb-5">
            <div class="col-lg-12">
                <div class="downdesc text-center">
                    Have a project in mind? Let’s get to work.
                </div>
                <button class="btn btn-gradient downbutton" type="button"><i class="fas fa-arrow-right"></i>Contact</button>
            </div>
        </div>
    </div>
