@{
    ViewData["Title"] = "Competences";
}
<div class="container d-blobk d-lg-none">
    <div class="row">
        <div class="col-lg-12">
            <a href="#" class="back"><i class="fas fa-chevron-left"></i> Competences</a>
        </div>
    </div>
</div>


    <div class="container bg ">
        <div class="row competences top">
            <div class="col-lg-7 bg">
                <div class="info-title">
                    Competences
                </div>
                <div class="info-img d-blobk d-lg-none">
                    <img src="~/images/competences_1.png" alt="img" class="w-75 defaultimg" />
                </div>
                <div class="info-desc">
                    We use the latest technological approaches, patterns and programming tools to build and deliver high quality software products and services, which meets all modern IT requirements. As a skilled software development team with 15+ years of experience in Microsoft Technology Stack, We mainly focus on an enterprise application development for any devices. Our expertise includes: Microsoft .Net /.Net Core, C #, VB.Net, ASP.Net, WCF, SOAP/REST WebServices, WinForms, WPF, Xamarin, MVC, JQuery, Html5, Angular Js, React Js, Vue Js, Microsoft SQL Server, SSRS, SSIS, MySQL, MongoDB, Postgres. SQL, SQL Lite, Redis, RabbitMQ, ZeroMQ and many more.
                </div>
            </div>
            <div class="col-lg-5">
                <div class="info-img d-none d-md-none d-sm-none d-lg-block">
                    <img src="~/images/competences_1.png" alt="img" class="w-100" />
                </div>
            </div>
        </div>
    </div>

    <div class="container nopadcontainer">
        <div class="row competences techstack">
            <div class="col-lg-12">
                <div class="container nopadcontainer">
                    <div class="info-title text-left">
                        Tech stack
                    </div>
                    <div class="info-desc noborder">
                        <img src="~/images/competences1.svg" alt="img" class="iconimg" />   Web Development Desktop Development
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/ASP.NET Core MVC-.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            ASP.NET Core MVC/
                            Web API
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/Soap-Xml WCF.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            Soap/Xml WCF
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/Blazor-Blazor WASM.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            Blazor/Blazor WASM
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/gRPC.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            gRPC
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/GraphQL.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            GraphQL
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/JavaScript (ECMAScript,.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            JavaScript (ECMAScript,
                            ES6)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/Angular.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            Angular
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/React.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            React
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/HTML-CSS.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            HTML/CSS
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/Microservices.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            Microservices
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/CQRS-Event Sourcing.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            CQRS/Event Sourcing
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/Windows Forms-WPF.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            Windows Forms/WPF
                            (.Net 3.5 4.8, .Net  Core)
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/Java FX.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            Java FX
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/P-Invoke, WinAPI.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            P/Invoke, WinAPI
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/Websocket.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            Websocket
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/ADO.Net.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            ADO.Net
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/MVVM.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            MVVM
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/WF (Workflow.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            WF (Workflow
                            Foundation)
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/SignalR.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            SignalR
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/EF-EF Core.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            EF/EF Core
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-12 mt-5">
                <div class="container nopadcontainer">
                    <div class="info-desc noborder  text-left">
                        <img src="~/images/competences2.svg" alt="img" class="iconimg" />   Database Development Mobile Development
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/Microsoft SQL Server.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            Microsoft SQL Server
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/Redis.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            Redis
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/PostgreSQL.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            SQL Lite
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/Apache Ignite.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            Apache Ignite
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/PostgreSQL.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            PostgreSQL
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/Xamarin (iOS, Android,.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            Xamarin (iOS, Android,
                            Xamarin Forms)
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/Java.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            Java
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/Swift.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            Swift
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-lg-12 mt-5">
                <div class="container nopadcontainer">
                    <div class="info-desc noborder  text-left">
                        <img src="~/images/competences3.svg" alt="img" class="iconimg" />   DevOps and Cloud Testing and Quality Assurance
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/GitLab.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            GitLab
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/Jenkins.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            Jenkins
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/Azure.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            Azure
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/AWS.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            AWS
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/Google Cloud.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            Google Cloud
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/Manual Testing.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            Manual Testing
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/Postman.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            Postman
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/SoapUI.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            SoapUI
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-6">
                <div class="stack-card">
                    <div class="stack-img">
                        <img src="~/images/Selenium.svg" alt="img" />
                    </div>
                    <ul>
                        <li>
                            Selenium
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>