@{
    ViewData["Title"] = "Home Page";
}
<div class="container bg">
    <div class="row mt-100 dashboard top">
        <div class="col-lg-6 bg">
            <div class="info-title">
                Solid It Partner For Your
                Business
            </div>
            <div class="info-img d-blobk d-lg-none">
                <img src="~/images/img1.svg" alt="img" class="w-100 defaultimg" />
            </div>
            <div class="bordered">
                <div class="info-desc">
                    DevGate is an IT Consultancy and Software Development Company that provides creative and effective customized solutions with maximum efforts driven toward to customer satisfaction.
                </div>
                <button class="btn btn-gradient" type="button"><i class="fas fa-arrow-right"></i>Read More</button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="info-img d-none d-md-none d-sm-none d-lg-block">
                <img src="~/images/img1.svg" alt="img" class="w-100" />
            </div>
        </div>
    </div>
    </div>

<div class="container">
    <div class="row dashboard services-content">
        <img src="~/images/puzzle1.svg" alt="img" class="puzzle pz1" />
        <div class="col-lg-5 cont ch">
            <div class="ch">
                <div class="title">Our Services</div>
                <div class="desc">Our team’s expertise comprises variety of technology areas including development of enterprise-class applications and services based on web, desktop, and mobile platforms; designing databases and data-analytic services;</div>
                <button class="btn btn-gradient d-none d-md-none d-sm-none d-lg-block" type="button"><i class="fas fa-arrow-right"></i>Read More</button>
            </div>
        </div>
        <div class="col-lg-7 cont">
            <div class="row">
                <div class="col-lg-4">
                    <div class="scard">
                        <img src="~/images/service1.svg" alt="img" />
                        <div class="title">Product Development</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="scard">
                        <img src="~/images/service2.svg" alt="img" />
                        <div class="title">Project Development</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="scard">
                        <img src="~/images/service3.svg" alt="img" />
                        <div class="title">Solution Architecture</div>
                    </div>
                </div>
            </div>
            <div class="row s2">
                <div class="col-lg-4">
                    <div class="scard">
                        <img src="~/images/service4.svg" alt="img" />
                        <div class="title">Software Development</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="scard">
                        <img src="~/images/service5.svg" alt="img" />
                        <div class="title">Database Solution</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="scard">
                        <img src="~/images/service6.svg" alt="img" />
                        <div class="title">IT infrastructure</div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-gradient d-blobk d-lg-none serviceb" type="button"><i class="fas fa-arrow-right"></i>Read More</button>
        <img src="~/images/puzzle2.svg" alt="img" class="puzzle pz2" />
        <img src="~/images/puzzle2.svg" alt="img" class="puzzle pz3" />
    </div>
</div>

<div class="container-fluid carouselContainer">
    <div class="container p-0">
        <div class="carousel-header">
            <div class="title">FEATURED PROJECTS</div>
            <div class="desc">
                DevGate is founded by a team of professionals with strong
                background in IT industry counting more than 15 years of experience in software development, business analysis, infrastructure, and consultancy for both governmental and private sectors.
            </div>
        </div>

        <ul class="nav nav-tabs">
            <li id="li1" class="active"><a data-toggle="tab" href="#menu1" class="text-decoration-none">All</a></li>
            <li id="li2"><a data-toggle="tab" href="#menu2" class="text-decoration-none">Devgate Projects</a></li>
            <li id="li3"><a data-toggle="tab" href="#menu3" class="text-decoration-none">Team members Projects</a></li>

            <li class="seemorecentered d-none d-md-none d-sm-none d-lg-block">
                <a href="#" class="anim-seemore"><i class="fas fa-arrow-right"></i> See more</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="row">

                <div id="menu1" class="tab-pane fade in active show overflow-hidden">
                    <div class="MultiCarousel" data-items="2,3,4,5" data-slide="1" id="MultiCarousel" data-interval="1000">
                        <div class="MultiCarousel-inner">
                            <div class="item">
                                <div class="pad15 pt-lg-4 pb-lg-4 pl-lg-4 pr-lg-4 p-3">
                                    <div class="img-container">
                                        <img src="~/images/dev-prj-1.png" alt="img" class="prj-img" />
                                    </div>
                                    <div class="detail-container">
                                        <div class="title">MSW</div>
                                        <div class="desc">
                                            Feasibility Study
                                            for Development…
                                        </div>
                                        <a href="#">See More </a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="pad15 pt-lg-4 pb-lg-4 pl-lg-4 pr-lg-4 p-3">
                                    <div class="img-container">
                                        <img src="~/images/dev-prj-2.png" alt="img" class="prj-img" />
                                    </div>
                                    <div class="detail-container">
                                        <div class="title">COINETIC.COM</div>
                                        <div class="desc">
                                            Feasibility Study
                                            for Development…
                                        </div>
                                        <a href="#">See More </a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="pad15 pt-lg-4 pb-lg-4 pl-lg-4 pr-lg-4 p-3">
                                    <div class="img-container">
                                        <img src="~/images/dev-prj-3.png" alt="img" class="prj-img" />
                                    </div>
                                    <div class="detail-container">
                                        <div class="title">DocShelf</div>
                                        <div class="desc">
                                            Feasibility Study
                                            for Development…
                                        </div>
                                        <a href="#">See More </a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="pad15 pt-lg-4 pb-lg-4 pl-lg-4 pr-lg-4 p-3">
                                    <div class="img-container">
                                        <img src="~/images/dev-prj-4.png" alt="img" class="prj-img" />
                                    </div>
                                    <div class="detail-container">
                                        <div class="title">Farming</div>
                                        <div class="desc">
                                            Feasibility Study
                                            for Development…
                                        </div>
                                        <a href="#">See More </a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="pad15 pt-lg-4 pb-lg-4 pl-lg-4 pr-lg-4 p-3">
                                    <div class="img-container">
                                        <img src="~/images/dev-prj-5.png" alt="img" class="prj-img" />
                                    </div>
                                    <div class="detail-container">
                                        <div class="title">HRMS</div>
                                        <div class="desc">
                                            Feasibility Study
                                            for Development…
                                        </div>
                                        <a href="#">See More </a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="pad15 pt-lg-4 pb-lg-4 pl-lg-4 pr-lg-4 p-3">
                                    <div class="img-container">
                                        <img src="~/images/dev-prj-6.png" alt="img" class="prj-img" />
                                    </div>
                                    <div class="detail-container">
                                        <div class="title">MSW</div>
                                        <div class="desc">
                                            Feasibility Study
                                            for Development…
                                        </div>
                                        <a href="#">See More </a>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="pad15 pt-lg-4 pb-lg-4 pl-lg-4 pr-lg-4 p-3">
                                    <div class="img-container">
                                        <img src="~/images/dev-prj-7.png" alt="img" class="prj-img" />
                                    </div>
                                    <div class="detail-container">
                                        <div class="title">MSW</div>
                                        <div class="desc">
                                            Feasibility Study
                                            for Development…
                                        </div>
                                        <a href="#">See More </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <button class="btn btn-primary leftLst"><i class="fas fa-arrow-left"></i></button>
                        <button class="btn btn-primary rightLst"><i class="fas fa-arrow-right"></i></button>
                    </div>
                </div>
                <div id="menu2" class="tab-pane fade overflow-hidden">
                    menu2
                </div>
                <div id="menu3" class="tab-pane fade overflow-hidden">
                    menu3
                </div>
            </div>
            <div class="seemorecentered justify-content-end d-blobk d-lg-none">
                <a href="#"><i class="fas fa-arrow-right"></i> See more</a>
            </div>
        </div>

    </div>
</div>


<div class="container mlg bg-white mt-5">
    <div class="row mb-5 pt-5">
        <div class="col-lg-12">
            <div class="downdesc text-center">
                Have a project in mind? Let’s get to work.
            </div>
            <button class="btn btn-gradient downbutton" type="button"><i class="fas fa-arrow-right"></i>Contact</button>
        </div>
    </div>
</div>

<div class="container-fluid competences-in-home">
    <div class="container">
        <div class="title text-center">Competencies</div>
        <div class="desc text-center">
            WE USE THE LATEST TECHNOLOGICAL APPROACHES, PATTERNS AND PROGRAMMING TOOLS TO BUILD AND DELIVER HIGH QUALITY SOFTWARE PRODUCTS AND SERVICES.
        </div>
        <div class="row">
            <div class="col-lg-3 col-6 mb-4">
                <div class="img-container">
                    <img src="~/images/ASP.NET Core MVC-.svg" alt="img" />
                </div>
            </div>
            <div class="col-lg-3 col-6 mb-4">
                <div class="img-container">
                    <img src="~/images/Swift.svg" alt="img" />
                </div>
            </div>
            <div class="col-lg-3 col-6 mb-4">
                <div class="img-container">
                    <img src="~/images/Microsoft SQL Server.svg" alt="img" />
                </div>
            </div>
            <div class="col-lg-3 col-6 mb-4">
                <div class="img-container">
                    <img src="~/images/Java.svg" alt="img" />
                </div>
            </div>
            <div class="col-lg-3 col-6 mb-4">
                <div class="img-container">
                    <img src="~/images/GitLab.svg" alt="img" />
                </div>
            </div>
            <div class="col-lg-3 col-6 mb-4">
                <div class="img-container">
                    <img src="~/images/Postman.svg" alt="img" />
                </div>
            </div>
            <div class="col-lg-3 col-6 mb-4">
                <div class="img-container">
                    <img src="~/images/Angular.svg" alt="img" />
                </div>
            </div>
            <div class="col-lg-3 col-6 mb-4">
                <div class="img-container">
                    <img src="~/images/Java FX.svg" alt="img" />
                </div>
            </div>
        </div>
        <div class="seemorecentered mt-3 mt-lg-5 d-lg-flex">
            <a href="#" class="anim-seemore"><i class="fas fa-arrow-right"></i> See more</a>
        </div>
    </div>
</div>

<div class="container-fluid competences-in-home bg-white mt-0">
    <div class="container">
        <div class="title text-center">Partner</div>


        <div class="row">
            <div class="col-lg-3 col-6 mb-4">
                <div class="img-container">
                    <img src="~/images/elkana.png" alt="img" />
                </div>
            </div>
            <div class="col-lg-3 col-6 mb-4">
                <div class="img-container">
                    <img src="~/images/elkana.png" alt="img" />
                </div>
            </div>
            <div class="col-lg-3 col-6 mb-4">
                <div class="img-container">
                    <img src="~/images/elkana.png" alt="img" />
                </div>
            </div>
            <div class="col-lg-3 col-6 mb-4">
                <div class="img-container">
                    <img src="~/images/elkana.png" alt="img" />
                </div>
            </div>
        </div>
    </div>
</div>