@{
    ViewData["Title"] = "Projects";
}
<div class="container d-blobk d-lg-none">
    <div class="row">
        <div class="col-lg-12">
            <a href="#" class="back"><i class="fas fa-chevron-left"></i> Projects</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row projects">
        <div class="col-lg-7">
            <div class="info-title">
                FEATURED PROJECTS
            </div>
            <div class="info-desc">
                DevGate is founded by a team of professionals with strong
                background in IT industry counting more than 15 years of experience in software development, business analysis, infrastructure, and consultancy for both governmental and private sectors.
            </div>
        </div>
    </div>
</div>

<div class="container mb-lg-5">
    <div class="row projects devgate">
        <div class="col-lg-12">
            <div class="info-title text-left">
                Devgate Projects
            </div>
        </div>
    </div>

    <div class="row projects devgate">
        <div class="col-lg-3 mb-md-3 mb-sm-3 mb-3">
            <div class="prj-card">
                <div class="img-container">
                    <img src="~/images/dev-prj-1.png" alt="img" class="prj-img" />
                </div>
                <div class="details">
                    <div class="title">MSW</div>
                    <div class="desc">
                        Feasibility Study
                        for Development…
                    </div>
                    <a href="#" class="seemore show-arrow-on-hower" data-toggle="modal" data-target="#exampleModalCenter">See More <i class="fas fa-arrow-right"></i> </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-md-3 mb-sm-3 mb-3">
            <div class="prj-card">
                <div class="img-container">
                    <img src="~/images/dev-prj-2.png" alt="img" class="prj-img" />
                </div>
                <div class="details">
                    <div class="title">COINETIC.COM</div>
                    <div class="desc">
                        Crypto Currency
                        Trading Platform
                    </div>
                    <a href="#" class="seemore show-arrow-on-hower" data-toggle="modal" data-target="#exampleModalCenter">See More <i class="fas fa-arrow-right"></i> </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-md-3 mb-sm-3 mb-3">
            <div class="prj-card">
                <div class="img-container">
                    <img src="~/images/dev-prj-3.png" alt="img" class="prj-img" />
                </div>
                <div class="details">
                    <div class="title">DocShelf</div>
                    <div class="desc">
                        Document Workflow
                        Management System…
                    </div>
                    <a href="#" class="seemore show-arrow-on-hower" data-toggle="modal" data-target="#exampleModalCenter">See More <i class="fas fa-arrow-right"></i> </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-md-3 mb-sm-3 mb-3">
            <div class="prj-card">
                <div class="img-container">
                    <img src="~/images/dev-prj-4.png" alt="img" class="prj-img" />
                </div>
                <div class="details">
                    <div class="title">Farming</div>
                    <div class="desc">
                        Bio-Farmers
                        Registration System
                    </div>
                    <a href="#" class="seemore show-arrow-on-hower" data-toggle="modal" data-target="#exampleModalCenter">See More <i class="fas fa-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container hasbmb">
    <div class="row projects devgate">
        <div class="col-lg-12">
            <div class="info-title text-left">
                Projects completed with the participation
                of team members
            </div>
        </div>
    </div>

    <div class="row pro-butt">
        <div class="col-12">
            <button type="button" class="ps1 btn bg-white btn-outline-info mb-lg-5 mb-4 mb-sm-4">Public Sector</button>
            <button type="button" class="ps2 btn btn-primary text-white ml-lg-3 ml-md-3 mb-lg-5 mb-4 mb-sm-4 ml-2">Private Sector</button>
        </div>
    </div>

    <div class="row projects devgate">
        <div class="col-lg-3 mb-md-3 mb-sm-3 mb-3">
            <div class="prj-card">
                <div class="img-container">
                    <img src="~/images/dev-prj-7.png" alt="img" class="prj-img" />
                </div>
                <div class="details">
                    <div class="title">BIO-METRIC</div>
                    <div class="desc">
                        Biometric data
                        (Face Recognition…
                    </div>
                    <a href="#" class="seemore show-arrow-on-hower" data-toggle="modal" data-target="#exampleModalCenter">See More <i class="fas fa-arrow-right"></i> </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-md-3 mb-sm-3 mb-3">
            <div class="prj-card">
                <div class="img-container">
                    <img src="~/images/dev-prj-8.png" alt="img" class="prj-img" />
                </div>
                <div class="details">
                    <div class="title">HiSOG</div>
                    <div class="desc">
                        Education & Trainings
                        Management System
                    </div>
                    <a href="#" class="seemore show-arrow-on-hower" data-toggle="modal" data-target="#exampleModalCenter">See More <i class="fas fa-arrow-right"></i> </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-md-3 mb-sm-3 mb-3">
            <div class="prj-card">
                <div class="img-container">
                    <img src="~/images/dev-prj-9.png" alt="img" class="prj-img" />
                </div>
                <div class="details">
                    <div class="title">MTA Seafarers</div>
                    <div class="desc">
                        Maritime Transport
                        Agency Seafarers…
                    </div>
                    <a href="#" class="seemore show-arrow-on-hower" data-toggle="modal" data-target="#exampleModalCenter">See More <i class="fas fa-arrow-right"></i> </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-md-3 mb-sm-3 mb-3">
            <div class="prj-card">
                <div class="img-container">
                    <img src="~/images/dev-prj-10.png" alt="img" class="prj-img" />
                </div>
                <div class="details">
                    <div class="title">
                        PSDA Online
                        Services
                    </div>
                    <div class="desc">
                        &nbsp;
                    </div>
                    <a href="#" class="seemore show-arrow-on-hower" data-toggle="modal" data-target="#exampleModalCenter">See More <i class="fas fa-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid projects bg mlg mt-5">
    <div class="container position-relative pb-5">
        <div class="clientstitle">
            How clients view our work
        </div>
        <div class="row aboutus clients">
            <img src="~/images/projectPazle1.svg" alt="img" class="ppuzzle d-none d-md-none d-sm-none d-lg-block" />
            <div class="col-lg-4 bsh">
                <div class="client-card">
                    <div class="client">
                        <img src="~/images/personrofile.png" alt="img" class="profileimg" />
                        <div class="info">
                            <div class="name">
                                Giorgi Peikrishvili
                            </div>
                            <div class="role">
                                Product Designer
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <img src="~/images/up.svg" alt="img" class="up" />
                        perfect partner for us. Together with our handpicked
                        team, who are super professional and most importantly
                        bring their own ideas to the table, we are building
                        products that we are proud of and our
                        customers love
                        <img src="~/images/down.svg" alt="img" class="down" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 bsh">
                <div class="client-card">
                    <div class="client">
                        <img src="~/images/personrofile.png" alt="img" class="profileimg" />
                        <div class="info">
                            <div class="name">
                                Giorgi Peikrishvili
                            </div>
                            <div class="role">
                                Product Designer
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <img src="~/images/up.svg" alt="img" class="up" />
                        perfect partner for us. Together with our handpicked
                        team, who are super professional and most importantly
                        bring their own ideas to the table, we are building
                        products that we are proud of and our
                        customers love
                        <img src="~/images/down.svg" alt="img" class="down" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 bsh">
                <div class="client-card">
                    <div class="client">
                        <img src="~/images/personrofile.png" alt="img" class="profileimg" />
                        <div class="info">
                            <div class="name">
                                Giorgi Peikrishvili
                            </div>
                            <div class="role">
                                Product Designer
                            </div>
                        </div>
                    </div>
                    <div class="desc">
                        <img src="~/images/up.svg" alt="img" class="up" />
                        perfect partner for us. Together with our handpicked
                        team, who are super professional and most importantly
                        bring their own ideas to the table, we are building
                        products that we are proud of and our
                        customers love
                        <img src="~/images/down.svg" alt="img" class="down" />
                    </div>
                </div>
            </div>
            <img src="~/images/projectPazle1.svg" alt="img" class="ppuzzle2 d-none d-md-none d-sm-none d-lg-block" />
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="downdesc text-center">
                    Have a project in mind? Let’s get to work.
                </div>
                <button class="btn btn-gradient downbutton" type="button"><i class="fas fa-arrow-right"></i>Contact</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">MSW</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="project-title-in-modal">
                    Feasibility Study for Development of a National Maritime
                    Single Window on behalf of the U.S. Government’s EXBS
                </div>

                <div class="project-desc-in-modal">
                    Feasibility Study for Development of a National Maritime
                    Single Window on behalf of the U.S. Government’s EXBS.
                    Feasibility Study for Development of a National Maritime
                    Single Window on behalf of the U.S. Government’s EXBS
                </div>

                <div class="project-list">
                    <div class="img-container">
                        <img src="~/images/icon-product-development.svg" alt="img" />
                    </div>
                    <div class="detail">
                        <div class="title">Services </div>
                        <ul>
                            <li>Analyzing Business Needs </li>
                            <li>Create a Solution Architecture</li>
                        </ul>
                    </div>
                </div>

                <div class="project-list mt-3">
                    <div class="img-container">
                        <img src="~/images/competences1.svg" alt="img" />
                    </div>
                    <div class="detail">
                        <div class="title">Technology  </div>
                        <div class="ul-container d-flex">
                            <ul>
                                <li>GitLab </li>
                                <li>Postman</li>
                                <li>Angular </li>
                            </ul>
                            <ul class="ml-5">
                                <li>React </li>
                                <li>HTML/CSS</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
               
            </div>
        </div>
    </div>
</div>
