@{
    ViewData["Title"] = "Services";
}
<div class="container d-blobk d-lg-none">
    <div class="row">
        <div class="col-lg-12">
            <a href="#" class="back"><i class="fas fa-chevron-left"></i> Services</a>
        </div>
    </div>
</div>
<div class="container bg">
    <div class="container bg">
        <div class="row services top">
            <div class="col-lg-6 bg">
                <div class="info-title">
                    Our Services
                </div>
                <div class="info-img d-blobk d-lg-none">
                    <img src="~/images/services_1.svg" alt="img" class="w-75 defaultimg" />
                </div>
                <div class="info-desc">
                    Our team’s expertise comprises variety of technology areas including development of enterprise-class applications and services based on web, desktop, and mobile platforms; designing databases and data-analytic services; programming with biometric devices such as fingerprint and face-recognition, electronic signature,
                    and cryptography modules; integration with widely known brand software systems likeMicrosoft Office, Microsoft BizTalk, Microsoft SharePoint, K2, IBM BPM, etc.
                </div>
            </div>
            <div class="col-lg-6">
                <div class="info-img d-none d-md-none d-sm-none d-lg-block">
                    <img src="~/images/services_1.svg" alt="img" class="w-75" />
                </div>
            </div>
        </div>
    </div>

    <div class="container bg">
        <div class="row services whatwe">
            <div class="col-lg-12">
                <div class="info-title text-left">
                    What We Do
                </div>
            </div>
        </div>

        <div class="row services">
            <div class="col-lg-6">
                <div class="prod-card">
                    <div class="logo-container">
                        <img alt="img" src="~/images/transpar.png" class="color-1 s1" />
                    </div>
                    <div class="list-container">
                        <div class="title">Product Development</div>
                        <ul>
                            <li>Discussing an Idea</li>
                            <li>Analyzing Business Needs </li>
                            <li>Document Business Requirements</li>
                            <li>Create a Solution Architecture</li>
                            <li>Building a roadmap to execution</li>
                            <li>Delivering Complete Product</li>
                            <li>Assistance with installation</li>
                        </ul>
                    </div>
                    <div class="secondary-logo d-none d-md-none d-sm-none d-lg-block">
                        <img src="~/images/puzlexy1.svg" alt="img" />
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="prod-card">
                    <div class="logo-container">
                        <img alt="img" src="~/images/transpar.png" class="color-1 s2" />
                    </div>
                    <div class="list-container">
                        <div class="title">Project Development</div>
                        <ul>
                            <li>Project planning</li>
                            <li>Project rollout</li>
                            <li>Project execution</li>
                            <li>Project monitoring and control</li>
                            <li>Review the project results</li>
                        </ul>
                    </div>
                    <div class="secondary-logo d-none d-md-none d-sm-none d-lg-block">
                        <img src="~/images/puzlexy1.svg" alt="img" />
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4">
                <div class="prod-card">
                    <div class="logo-container">
                        <img alt="img" src="~/images/transpar.png" class="color-2 s3" />
                    </div>
                    <div class="list-container">
                        <div class="title">Solution Architecture</div>
                        <ul>
                            <li>
                                Create a complete business solution aligning people,
                                processes and systems
                            </li>
                            <li>Describing the solution structure to project stakeholders</li>
                            <li>Audit and engineer project development process</li>
                            <li>Regularly taking feedback throughout the process</li>
                            <li>Provide Trainings</li>
                        </ul>
                    </div>
                    <div class="secondary-logo d-none d-md-none d-sm-none d-lg-block">
                        <img src="~/images/puzlexy2.svg" alt="img" />
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4">
                <div class="prod-card">
                    <div class="logo-container">
                        <img alt="img" src="~/images/transpar.png" class="color-2 s4" />
                    </div>
                    <div class="list-container">
                        <div class="title">Software Development</div>
                        <ul>
                            <li>
                                Designing the entire system based on the received requirements
                            </li>
                            <li>
                                Choosing the system architecture and each individual component
                                of this system at a  high level
                            </li>
                            <li>
                                Choosing the technologies for the implementation of each
                                component and  connections between the component
                            </li>
                            <li>Creating unified development standards in the company</li>
                            <li>
                                Controlling the architecture during the next iteration of the
                                system release
                            </li>
                            <li> Writing project documentation and its support</li>
                            <li>Architectural review </li>
                        </ul>
                    </div>
                    <div class="secondary-logo d-none d-md-none d-sm-none d-lg-block">
                        <img src="~/images/puzlexy2.svg" alt="img" />
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4">
                <div class="prod-card">
                    <div class="logo-container">
                        <img alt="img" src="~/images/transpar.png" class="color-3 s5" />
                    </div>
                    <div class="list-container">
                        <div class="title">Database Solution</div>
                        <ul>
                            <li>
                                Database strategy planning
                            </li>
                            <li>
                                Architecture design & development
                            </li>
                            <li>
                                Database monitoring & management
                            </li>
                            <li>Database performance tuning</li>
                            <li>
                                Maintenance & health check
                            </li>
                            <li> Database backup & recovery</li>
                            <li>Replication & synchronization </li>
                            <li>Upgrade & migration</li>
                        </ul>
                    </div>
                    <div class="secondary-logo d-none d-md-none d-sm-none d-lg-block">
                        <img src="~/images/puzlexy3.svg" alt="img" />
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-4">
                <div class="prod-card">
                    <div class="logo-container">
                        <img alt="img" src="~/images/transpar.png" class="color-3 s6" />
                    </div>
                    <div class="list-container">
                        <div class="title">IT infrastructure</div>
                        <ul>
                            <li>
                                Solution designing
                            </li>
                            <li>
                                Server technology management
                            </li>
                            <li>
                                Licensing / installation / management
                            </li>
                            <li>Build physical / virtual / cloud / hybrid infrastructure</li>
                            <li>
                                Modernizing existing infrastructure
                            </li>
                            <li> Hardware and software technology management</li>
                            <li>Network management</li>
                            <li>System and network security</li>
                        </ul>
                    </div>
                    <div class="secondary-logo d-none d-md-none d-sm-none d-lg-block">
                        <img src="~/images/puzlexy3.svg" alt="img" />
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="container">
    <div class="row services whatwe">
        <div class="col-lg-12">
            <div class="info-title text-left mb-0">
                Competencies
            </div>
        </div>
    </div>
</div>

<div class="container-fluid carouselContainer bg-transparent mt-0">
    <div class="container p-0">




        <div class="row">

            <div id="menu1" class="tab-pane fade in active show overflow-hidden">
                <div class="MultiCarousel inServices" data-items="2,4,6,7" data-slide="1" id="MultiCarousel" data-interval="1000">
                    <div class="MultiCarousel-inner">
                        <div class="item">
                            <div class="pad15 p-0 rounded-0 bg-transparent">
                                <div class="img-container custom-rounded w-100 h-100 p-lg-4 p-md-4 p-sm-5">
                                    <img src="~/images/dev-prj-1.png" alt="img" class="prj-img" />
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="pad15 p-0 rounded-0 bg-transparent">
                                <div class="img-container custom-rounded w-100 h-100 p-lg-4 p-md-4 p-sm-5">
                                    <img src="~/images/dev-prj-2.png" alt="img" class="prj-img" />
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="pad15 p-0 rounded-0 bg-transparent">
                                <div class="img-container custom-rounded w-100 h-100 p-lg-4 p-md-4 p-sm-5">
                                    <img src="~/images/dev-prj-3.png" alt="img" class="prj-img" />
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="pad15 p-0 rounded-0 bg-transparent">
                                <div class="img-container custom-rounded w-100 h-100 p-lg-4 p-md-4 p-sm-5">
                                    <img src="~/images/dev-prj-4.png" alt="img" class="prj-img" />
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="pad15 p-0 rounded-0 bg-transparent">
                                <div class="img-container custom-rounded w-100 h-100 p-lg-4 p-md-4 p-sm-5">
                                    <img src="~/images/dev-prj-5.png" alt="img" class="prj-img" />
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="pad15 p-0 rounded-0 bg-transparent">
                                <div class="img-container custom-rounded w-100 h-100 p-lg-4 p-md-4 p-sm-5">
                                    <img src="~/images/dev-prj-6.png" alt="img" class="prj-img" />
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="pad15 p-0 rounded-0 bg-transparent">
                                <div class="img-container custom-rounded w-100 h-100 p-lg-4 p-md-4 p-sm-5">
                                    <img src="~/images/dev-prj-7.png" alt="img" class="prj-img" />
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="pad15 p-0 rounded-0 bg-transparent">
                                <div class="img-container custom-rounded w-100 h-100 p-lg-4 p-md-4 p-sm-5">
                                    <img src="~/images/dev-prj-7.png" alt="img" class="prj-img" />
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="pad15 p-0 rounded-0 bg-transparent">
                                <div class="img-container custom-rounded w-100 h-100 p-lg-4 p-md-4 p-sm-5">
                                    <img src="~/images/dev-prj-7.png" alt="img" class="prj-img" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <button class="btn btn-primary leftLst"><i class="fas fa-arrow-left"></i></button>
                    <button class="btn btn-primary rightLst"><i class="fas fa-arrow-right"></i></button>
                </div>
            </div>

        </div>



    </div>
</div>

<div class="bottom"></div>
